@if (Id == 0)
{
    <div class="col-auto m-2">
        <div class="card">
            <div class="card-header">
                <span>@name </span>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public string? name { get; set; } = null;
    [Parameter]
    public int Id { get; set; } = 0;
}
